body {
    margin: 0;
    padding: 0;
}
header {
    background-image: url('./image/hero-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    position: relative;
}

header .section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: large;
}

header .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: large;
}
nav {
    display: flex;
    gap: 2rem;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.h3 {
    padding: 0px;
    display: flex;
}
.p {
    background-color: red;
    text-align: center;
    justify-content: center;
}
h1 {
    display: flex;
    padding: auto;
    margin: auto;
}

 button{
    padding: 16px 24px;
    border: none;
    font-size: large;
    border-radius: 30px;
    color: white;
    background-color: #da1c4B;

 }
 button:hover {
    background-color: red;
    cursor: pointer;


 }
 .banner {
    padding: auto;
    display: flex;
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
 }
 .section3 {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    flex-wrap: wrap;
 }

 .section3 h2, .section3 p{
    text-align: center;
 }
 .events{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
 }
 .events1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

 }
 .events1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
 }

.events1 img {
    width: 90%;
}

 .section4{
    background-image: url('./image/images/section-bg-img.jpg');
    background-attachment: fixed;
    background-size: cover;
    text-align: right;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 500px;
}
.section5{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}


.quatre-image {
    display: flex;
    justify-content: space-between;
}

.quatre-image div {
    width: 45%;
}
.quatre-image img{
    width: 100%
}


footer {
    padding: 80px;
    display: block;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

}
.class1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.class2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}





